.main-content-banner{
    width: 95%;
    height: 450px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/eb/Wembley_Stadium_interior_-_geograph.org.uk_-_662906.jpg");
}

.banner-1{
    background-image: url(../assets/1.jpg);
}

.banner-2{
    background-image: url(../assets/2.jpg);
}

.banner-3{
    background-image: url(../assets/3.jpg);
}

.banner-4{
    background-image: url(../assets/4.jpg);
}

@media only screen and (max-width: 400px){
    .main-content{
        flex-direction: column;
    }
}